//Init
.mw-init__site
  .mw-wrapper__inner
    filter: blur(0px)
    transition: 1s filter linear

  .mw-footer
    transition: 0.7s transform linear


//Actions
.mw-actions__footer--show
  .mw-wrapper__inner
    filter: blur(6px)

  .mw-footer
    transform: translateY(0%)

  .mw-footer__exit
    transform: translateX(0)
