@media (max-width: 40em)
  .mw-html
    font-size: 70%
  .mw-body
    position: static
    height: auto
    background-color: $color4

  .mw-wrapper__inner
    position: static
    padding: 0
    transform: translateY(0%)

  .mw-header
    position: static
    width: 100%
    padding: $container-top*3 $container-left
    overflow: auto
    box-shadow: none
    border-radius: 0

  .mw-exLinks
    width: 130px


  .mw-main
    padding: $top $container-left
    min-height: none
    box-shadow: none
    border-radius: 0

  .mw-contact
    padding: $container-top 0
    padding-right: 0

  .mw-footer

  .mw-footer__header
    padding-right: 1rem
    display: none

  .mw-footer__exit
    margin-right: 1.3rem

  .mw-footer__impressum
    padding: 2rem

  .mw-openFooterOnMobile
    position: static
    background-color: $color4
    padding: 1.5rem 2rem
    .mw-link
      color: $color2
