// /* HSL */
// $color2: hsla(168%, 53%, 52%, 1);
// $color1: hsla(65%, 100%, 84%, 1);
// $color3: hsla(0%, 100%, 73%, 1);
// $color4: hsla(208%, 18%, 21%, 1);
// $color5: hsla(23%, 39%, 85%, 1);
//
// /* RGB */
// $color5: rgba(14, 124, 123, 1);
// $color1: darken(rgba(248, 255, 174, 1), 5%);
// $color3: darken(rgba(255, 119, 119, 1), 8%);
// $color4: rgba(44, 54, 63, 1);
// $color2: rgba(232, 214, 203, 1);

// /* HSL */
// $color1: hsla(349%, 40%, 46%, 1);
// $color2: hsla(348%, 40%, 25%, 1);
// $color3: hsla(56%, 88%, 73%, 1);
// $color4: hsla(27%, 83%, 68%, 1);
// $color5: hsla(4%, 86%, 65%, 1);

/* RGB */
$color2: lighten(#dd1166, 0%);
$color3: lighten(#77cc00, 0%);
$color4: #ffffff;
$color1: rgba(241, 166, 106, 1);
$color5: rgba(232, 214, 203, 1);
